<!-- 
# Este archivo es parte de "ABSOLUT ISO9001".
#
# "ABSOLUT ISO9001" es software libre: puede redistribuirlo y/o modificarlo
# bajo los términos de la Licencia Pública General GNU publicada por la
# Free Software Foundation, ya sea la versión 3 de la Licencia o (a su
# elección) cualquier versión posterior.
#
# "ABSOLUT ISO9001" se distribuye con la esperanza de que sea útil,
# pero SIN NINGUNA GARANTÍA; incluso sin la garantía implícita de
# COMERCIABILIDAD o IDONEIDAD PARA UN PROPÓSITO PARTICULAR. Consulte la
# Licencia Pública General GNU para obtener más detalles.
#
# Debería haber recibido una copia de la Licencia Pública General GNU
# junto con este programa. En caso contrario, consulte <https://www.gnu.org/licenses/>.
 -->
{% extends "base.html" %}

{% block title %}Nueva Capacitación{% endblock %}

{% block content %}
<h2>Registrar Nueva Capacitación</h2>

<form method="post">
    {{ form.hidden_tag() }}

    <p>
        {{ form.tema.label }}<br>
        {{ form.tema(size=32) }}
        {% if form.tema.errors %}
            <ul class="errors">
                {% for error in form.tema.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </p>

    <p>
        {{ form.fecha.label }}<br>
        {{ form.fecha }}
        {% if form.fecha.errors %}
            <ul class="errors">
                {% for error in form.fecha.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </p>

    <p>
        {{ form.personal.label }}<br>
        {{ form.personal(size=32) }}
        {% if form.personal.errors %}
            <ul class="errors">
                {% for error in form.personal.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </p>

    <p>
        {{ form.duracion_horas.label }}<br>
        {{ form.duracion_horas }}
        {% if form.duracion_horas.errors %}
            <ul class="errors">
                {% for error in form.duracion_horas.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </p>

    <p>
        {{ form.evaluacion_final.label }}<br>
        {{ form.evaluacion_final(size=20) }}
        {% if form.evaluacion_final.errors %}
            <ul class="errors">
                {% for error in form.evaluacion_final.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </p>

    <p>{{ form.submit() }}</p>
</form>
{% endblock %}
