<!-- 
# Este archivo es parte de "ABSOLUT ISO9001".
#
# "ABSOLUT ISO9001" es software libre: puede redistribuirlo y/o modificarlo
# bajo los términos de la Licencia Pública General GNU publicada por la
# Free Software Foundation, ya sea la versión 3 de la Licencia o (a su
# elección) cualquier versión posterior.
#
# "ABSOLUT ISO9001" se distribuye con la esperanza de que sea útil,
# pero SIN NINGUNA GARANTÍA; incluso sin la garantía implícita de
# COMERCIABILIDAD o IDONEIDAD PARA UN PROPÓSITO PARTICULAR. Consulte la
# Licencia Pública General GNU para obtener más detalles.
#
# Debería haber recibido una copia de la Licencia Pública General GNU
# junto con este programa. En caso contrario, consulte <https://www.gnu.org/licenses/>.
 -->

{% extends "base.html" %}

{% block title %}Crear Nuevo Documento{% endblock %}

{% block content %}
<h2>Crear Nuevo Documento</h2>

<form action="{{ url_for('document.new_document') }}" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.title.label }} {{ form.title(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.code.label }} {{ form.code(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.category.label }} {{ form.category(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.version.label }} {{ form.version(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.issued_date.label }} {{ form.issued_date(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.approved_by.label }} {{ form.approved_by(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.content.label }} {{ form.content(class="form-control", rows=5) }}
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

{% endblock %}
