<!-- 
# Este archivo es parte de "ABSOLUT ISO9001".
#
# "ABSOLUT ISO9001" es software libre: puede redistribuirlo y/o modificarlo
# bajo los términos de la Licencia Pública General GNU publicada por la
# Free Software Foundation, ya sea la versión 3 de la Licencia o (a su
# elección) cualquier versión posterior.
#
# "ABSOLUT ISO9001" se distribuye con la esperanza de que sea útil,
# pero SIN NINGUNA GARANTÍA; incluso sin la garantía implícita de
# COMERCIABILIDAD o IDONEIDAD PARA UN PROPÓSITO PARTICULAR. Consulte la
# Licencia Pública General GNU para obtener más detalles.
#
# Debería haber recibido una copia de la Licencia Pública General GNU
# junto con este programa. En caso contrario, consulte <https://www.gnu.org/licenses/>.
 -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi Aplicación Flask{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <h1>ABSOLUT ISO9001</h1>
        {% if current_user.is_authenticated %}
            <p>Bienvenido, {{ current_user.username }} | 
                <a href="{{ url_for('dashboard.dashboard') }}">Dashboard</a> <!-- Enlace al Dashboard -->
                
                {% if current_user.role == 'Administrador' or current_user.role == 'Auditor' %}
                    | <a href="{{ url_for('auditoria.listar_auditorias') }}">Auditorías</a>
                {% endif %}
                
                {% if current_user.role == 'Administrador' %}
                    | <a href="{{ url_for('admin.panel') }}">Panel de Administrador</a>
                {% endif %}
                
                | <a href="{{ url_for('auth.logout') }}">Cerrar sesión</a>
            </p>
        {% else %}
            <a href="{{ url_for('auth.login') }}">Iniciar sesión</a>
        {% endif %}
    </header>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 ABSOLUT OFFICE Services Investments Import & Export S.L.</p>
    </footer>
</body>
</html>
